/*
Typography, way to arrange and present text
*/

body {
    padding: 10%;
    font-size: 2rem;
}

/* input, button {
    font: inherit;
} */

p {
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.1clear
    rem;
}