* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    border: 2px dashed red;
    width: 50%;
    padding: 0.5em;
}

main {
    width: 50%;
    border-color: skyblue;
    font-size: 2rem;
}

p {
    font-size: 2rem;
    width: 40ch;
}